<div id="sidebar">
	<a class="closeButton hideSidebar">-</a>
	<h1>DE-ROUTING MAPS</h1>
	<div id="records">
		<h2>ROUTES</h2>
		<ul id="recordList">
		</ul>
	</div>
	<div id="tasks">
		<h2>TASKS</h2>
		<ul id="taskList">
		</ul>
	</div>
	<div id="controls">
		<h2>MORE</h2>
		<ul>
			<li><a class="showSummary">Exploration Info</a></li>
		</ul>
		<ul>
			<li><a class="resetMap">Reset Map</a></li>
		</ul>
	</div>
</div>
<div id="info" class="hidden">
	<a class="closeButton closeInfo">&#215;</a> <a
		class="closeButton minimizeInfo">-</a>
	<div id="infoContent"></div>
</div>
<div id="logo">
	<img class="logo" src="images/community_now_logo.png" />
</div>

<div id="map">Leaflet Map</div>