<div class="header">
	<a href="#" class="button header-left"> <span class="icon menu"></span>
		<span class="icon tiny gps"></span>
	</a>
	<div class="progressbar">
		<div></div>
	</div>
</div>
<div class="scroll">
	<div class="task"></div>
</div>
<div class="footer big">
	<% if (backButtonEnabled) { %>
	<a href="#" class="back button big footer-left"> <span
		class="icon back"></span>
	</a> 
	<% } %>
	<a href="#" class="next button big footer-right"> <span
		class="icon accept"></span>
	</a>
</div>